# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.csproj.user
*.sln.docstates
*.vsconfig

# Build
bin/
obj/
publish/
dist/

# NuGet
.nuget/packages/
packages/
*.nupkg

# IDE
.idea/
.vscode/

# Logs
*.log
TestResults/

# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Android
**/gradle/
**/.gradle/
**/*.keystore

# iOS
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/

# Certificates
*.p12
*.mobileprovision

# MAUI / Xamarin
*.apk
*.apks
*.aab
*.ipa
*.app
*.dSYM
*.symbols

# Temp
*.tmp
*.temp

# Secrets
secrets.json

# Cache
*.cache
*.pdb
